## Analysis of Irish Dairy Product Production and Consumption in comparison to EU Member States, regarding the rise of non-dairy product Production and Consumption in particular

This analysis aims to analyse the production and consumption of dairy products within Ireland and the impact of increasingly popular alternatives on the population's impression of dairy products. This analysis will be performed through the comparison of Ireland's situation with an EU member state with a similarly sized dairy market and output.

Sentiment analysis will be performed to explore the apparent increase in public interest in non-dairy alternatives in recent years, and its impact on dairy product sales and consumption.

Additionally, forecasting will be performed to best characterise the future behaviour of the investigated trends, such as the downturn in the consumption of dairy milk.

## Import Required Libraries

In [1]:
#Commonly used libraries for plotting, statistical analysis and data analysis.
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime

import warnings
warnings.filterwarnings('ignore')

import seaborn as sns
from pandas import DatetimeIndex
from scipy.stats import poisson

#SKLearn is a widely used machine learning library that offers a host of abilities.
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error,explained_variance_score
from sklearn.linear_model import LinearRegression,Ridge
from statsmodels.tools.eval_measures import mse, rmse
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import (GridSearchCV, cross_val_score)
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report

## Notes on Licensing of Data

## Data Sourced from FAO

"FAO encourages you to use FAO databases for research, statistical, and scientific purposes. You may access, download, create copies and re-disseminate datasets subject to these Dataset terms.

Unless specifically stated otherwise, all datasets disseminated through the databases below are licensed under the Creative Commons Attribution-NonCommercial-ShareAlike 3.0 IGO (CC BY-NC-SA 3.0 IGO) explained here with the additional terms listed below"-https://www.fao.org/contact-us/terms/db-terms-of-use/en/+

## Notes on Metadata

## Main Sources of Error
Overall Accuracy

"It is not possible to assess the overall accuracy but as there is a substantial amount of estimated or imputed data points, the accuracy for certain products, countries and regions is not good" - https://www.fao.org/faostat/en/#data/FBSH

Sampling Error

"No information available. In the EU the coefficient of variation shall according to regulations not exceed 3% for the area of cultivation for main crops. For non EU countries the coefficient of variation might be significantly larger. For further information see country metadata when available."

Non-sampling error

"No information available of the magnitude on non-sampling errors. One such category of errors is measurement errors which are due mainly to lack of harmonisation in statistical methods. For instance, when FAO concepts do not fit with national concepts, there may be significant measurement errors."

## Preliminary inspection of available datasets

Relevant datasets available from reputable sources are initially explored and evaluated to determine suitable data for this analysis. Given the nature of the topic, there is limited geographical comparability due to differences in methods and coverage, except for regions with homogenous countries. Due to this convention, analysis and comparison of industries of EU member states is simpler and one is less likely to mis-interpret available data and reportings by a state.

## Notes on FAO Data

## Definition of Statistical Measures used in Datasets

"Areas refer to the area under cultivation. Area under cultivation means the area that corresponds to the total sown area, but after the harvest it excludes ruined areas (e.g. due to natural disasters). If the same land parcel is used twice in the same year, the area of this parcel can be counted twice. Production means the harvested production. Harvested production means production including on-holding losses and wastage, quantities consumed directly on the farm and marketed quantities, indicated in units of basic product weight. Yield means the harvested production per ha for the area under cultivation"- https://www.fao.org/faostat/en/#data/QCL

Unit of measure <br>

"LIVESTOCK PRIMARY: Laying [1000 heads], milk animals [heads], prod Population [No], prod Population [heads], producing Animals/Slaughtered [1000 heads], producing Animals/Slaughtered [heads], production [1000 heads], production [1000], production [heads], production [t], yield [100 mg/head], yield [No/head], yield [hg/head], yield/Carcass Weight [0.1 g/head], yield/Carcass Weight [hg/head]. 5) LIVESTOCK PROCESSED: Production is expressed in tonnes [t] "-https://www.fao.org/faostat/en/#data/QCL

Production quantity to be the metric of interest as a reflection of the demand?? All items explicitly identified as being produced from dairy milk were captured in the dataset. All those without explicit identification could not be verified and so were omitted to avoid the use of incorrect data.

A dataset containing all items relating to milk of any animal source is inspected. An inspection is performed to identify all items relating to cows milk given that it is the predominant dairy product in Ireland.

In [2]:
#Inspect a dataset sourced from the Food and Agriculature Organisation of the United Nations
#This dataset details the production of dairy products within Ireland between 1961 and 2018.
df=pd.read_csv("/Users/markc/Documents/Data Analytics Masters/CA2/Data/Dairy Data/FAOSTAT_data_en_12-23-2022.csv")
print(df.shape)

(516, 14)

In [3]:
print(df.head)

<bound method NDFrame.head of     Domain Code                        Domain  Area Code (M49)     Area  \
0           QCL  Crops and livestock products              372  Ireland
1           QCL  Crops and livestock products              372  Ireland
2           QCL  Crops and livestock products              372  Ireland
3           QCL  Crops and livestock products              372  Ireland
4           QCL  Crops and livestock products              372  Ireland
..          ...                           ...              ...      ...
511         QCL  Crops and livestock products              372  Ireland
512         QCL  Crops and livestock products              372  Ireland
513         QCL  Crops and livestock products              372  Ireland
514         QCL  Crops and livestock products              372  Ireland
515         QCL  Crops and livestock products              372  Ireland

     Element Code     Element  Item Code (CPC)                    Item  \
0            5510  Production         22241.01      Butter of cow milk
1            5510  Production         22241.01      Butter of cow milk
2            5510  Production         22241.01      Butter of cow milk
3            5510  Production         22241.01      Butter of cow milk
4            5510  Production         22241.01      Butter of cow milk
..            ...         ...              ...                     ...
511          5510  Production         22221.01  Whole milk, evaporated
512          5510  Production         22221.01  Whole milk, evaporated
513          5510  Production         22221.01  Whole milk, evaporated
514          5510  Production         22221.01  Whole milk, evaporated
515          5510  Production         22221.01  Whole milk, evaporated

     Year Code  Year    Unit    Value Flag Flag Description
0         1961  1961  tonnes  61300.0    A  Official figure
1         1962  1962  tonnes  62200.0    A  Official figure
2         1963  1963  tonnes  60346.0    A  Official figure
3         1964  1964  tonnes  64500.0    A  Official figure
4         1965  1965  tonnes  65845.0    A  Official figure
..         ...   ...     ...      ...  ...              ...
511       2014  2014  tonnes      0.0    I    Imputed value
512       2015  2015  tonnes      0.0    E  Estimated value
513       2016  2016  tonnes      0.0    E  Estimated value
514       2017  2017  tonnes      0.0    E  Estimated value
515       2018  2018  tonnes      0.0    E  Estimated value

[516 rows x 14 columns]>

In [4]:
print(df.columns)

Index(['Domain Code', 'Domain', 'Area Code (M49)', 'Area', 'Element Code',
       'Element', 'Item Code (CPC)', 'Item', 'Year Code', 'Year', 'Unit',
       'Value', 'Flag', 'Flag Description'],
      dtype='object')

Right away we can inspect the columns within the dataset and attempt to identify which columns will be useful and which can be removed to optimise the processing of the dataset.

In [5]:
print(df['Item'].unique())

['Butter of cow milk' 'Buttermilk, dry' 'Cheese from skimmed cow milk'
 'Cheese from whole cow milk' 'Raw milk of buffalo' 'Raw milk of cattle'
 'Raw milk of goats' 'Raw milk of sheep' 'Skim milk and whey powder'
 'Skim milk of cows' 'Whole milk powder' 'Whole milk, condensed'
 'Whole milk, evaporated']

Given that this dataset was produced from a larger FAO dataset containing a number of other milk sources (such as camel, sheep, goat), an inspection of the scale of production of products from sources other than cows is required to try and confirm that items not explicitly identified as being cow-milk products are in fact produced from cows milk.

In [7]:
display(df.describe(include='all'))

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code (CPC),Item,Year Code,Year,Unit,Value,Flag,Flag Description
count,516,516,516.0,516,516.0,516,516.000000,516,516.000000,516.000000,516,5.160000e+02,516,516
unique,1,1,NaN,1,NaN,1,NaN,13,NaN,NaN,1,NaN,4,4
top,QCL,Crops and livestock products,NaN,Ireland,NaN,Production,NaN,Raw milk of cattle,NaN,NaN,tonnes,NaN,A,Official figure
freq,516,516,NaN,516,NaN,516,NaN,61,NaN,NaN,516,NaN,310,310
mean,NaN,NaN,372.0,NaN,5510.0,NaN,19384.911802,NaN,1992.631783,1992.631783,NaN,9.616721e+05,NaN,NaN
std,NaN,NaN,0.0,NaN,0.0,NaN,6974.823351,NaN,17.791786,17.791786,NaN,1.812186e+06,NaN,NaN
min,NaN,NaN,372.0,NaN,5510.0,NaN,2211.000000,NaN,1961.000000,1961.000000,NaN,0.000000e+00,NaN,NaN
25%,NaN,NaN,372.0,NaN,5510.0,NaN,22110.020000,NaN,1977.000000,1977.000000,NaN,3.687500e+03,NaN,NaN
50%,NaN,NaN,372.0,NaN,5510.0,NaN,22221.010000,NaN,1994.000000,1994.000000,NaN,6.595000e+04,NaN,NaN
75%,NaN,NaN,372.0,NaN,5510.0,NaN,22241.010000,NaN,2008.000000,2008.000000,NaN,2.112500e+05,NaN,NaN
max,NaN,NaN,372.0,NaN,5510.0,NaN,22251.020000,NaN,2021.000000,2021.000000,NaN,9.039990e+06,NaN,NaN

A number of columns are dropped from the dataset to clean it up, given that they provide metadata which in this case does not add value to the analysis.

In [10]:
df.drop(['Domain Code', 'Domain','Area Code (M49)','Area','Element Code','Element','Item Code (CPC)','Year Code','Unit'],axis=1)

                       Item  Year    Value Flag Flag Description
0        Butter of cow milk  1961  61300.0    A  Official figure
1        Butter of cow milk  1962  62200.0    A  Official figure
2        Butter of cow milk  1963  60346.0    A  Official figure
3        Butter of cow milk  1964  64500.0    A  Official figure
4        Butter of cow milk  1965  65845.0    A  Official figure
..                      ...   ...      ...  ...              ...
511  Whole milk, evaporated  2014      0.0    I    Imputed value
512  Whole milk, evaporated  2015      0.0    E  Estimated value
513  Whole milk, evaporated  2016      0.0    E  Estimated value
514  Whole milk, evaporated  2017      0.0    E  Estimated value
515  Whole milk, evaporated  2018      0.0    E  Estimated value

[516 rows x 5 columns]

Hanging on to the Flag and Flag Description columns for now. In time, the Flag column will be removed or maybe the Flag Description column if I can incorporate a legend into a visualisation that captures what the Flag values represent.